.container {
  /* width: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 50px;
  /* align-items: center; */
  padding: 25px;
}
.websites-container {
  display: flex;
  flex-direction: column;
}
.websites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  row-gap: 10px;
}

.website {
  width: 300px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden;
  padding: 0 15px;
  justify-content: space-between;
  /* column-gap: 10px; */
}

.website p {
  max-width: 200px;
  word-break: break-all;  
}

.website code {
  color: red;  
  cursor: pointer;
}

.icon img {
  width: 25px;
}